code {
  font-weight: normal;
  color: #1e7e67;
}

.pre {
  background-color: #1d1f21;
}

.post {
  font-weight: 400;
}

.post-body p {
  line-height: 2em;
}

.post-body h1,
.post-body h2,
.post-body h3 {
  border-bottom: 1px solid #EFEFEF;
  padding-bottom: 10px;
}

.post h1,
.post h2,
.post h3,
.post h4,
.post h5,
.post h6 {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 400;
}

.post p {
  margin-bottom: 25px;
}

.post ol,
.post ul {
  margin-bottom: 20px;
}

.post li {
  list-style-type: inherit;
}

.post li > ol,
.post li > ul {
  margin-left: 20px;
}

.post .title {
  text-align: center;
}

.post .headline {
  margin-top: 5px;
  margin-bottom: 25px;
  color: #aaa;
  letter-spacing: 2px;
  text-transform: inherit;
  font-size: 0.8em;
  text-align: center;
}

.post-list h2 {
  max-width: 650px;
}

.post-list {
  margin-top: 10px;
  padding-left: 0;
}

.post-list .post-date {
  color: #333;
}

.post-title .post-date {
  width: 105px;
}

.post-list li {
  list-style: none;
  padding-bottom: 10px;
}

.post h2.headline a,
.post-list .tag-list-container .tag {
  font-size: 12px;
  display: inline-block;
  margin-right: 8px;
  color: #5694f1;
  font-weight: normal;
  letter-spacing: 0.5px;
}

.post h2.headline a {
  margin-top: 10px;
}

.post h2.headline a:hover {
  border-color: #BBBBBB;
}

.post h2.headline a:before {
  content: '#';
}

.post .hljs {
  min-width: 700px;
}

@media (max-width: 640px) {
  .post {
    font-size: 14px;
  }
}
