body {
  // Pasted from medium.com
  letter-spacing: 0;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  color: rgba(0,0,0,.8);
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;

  max-width: 800px;
  padding: 15px;
  margin: 0 auto;
  line-height: 1.7em;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}


a {
  color: #5694f1;
  text-decoration: none;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -ms-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}


a:hover {
  text-decoration: none;
}

ul {
  padding-left: 20px;
}

li {
  margin-bottom: 3px;
}

footer {
  border-top: 1px solid #EFEFEF;
  text-align: center;
  margin-top: 40px;
  padding-top: 20px;
  font-size: 14px;
  color: #BBBBBB;
}

pre {
  width: 100%;
  overflow-x: scroll;
}

code {
  font-family: Menlo, Monaco, Courier;
  background-color: #EEE;
  font-size: 14px;
  padding: 4px;
}
