@font-face {
  font-family: 'Meslo LG S';
  font-style: normal;
  src: local('Meslo LG S'), local('Meslo LG S'),
  url('/assets/fonts/MesloLGS-Regular.ttf')
  format('truetype');
}

@font-face {
  font-family: 'Meslo LG S';
  font-weight: bold;
  src: local('Meslo LG S'), local('Meslo LG S'),
  url('/assets/fonts/MesloLGS-Bold.ttf')
  format('truetype');
}

body {
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  color: rgba(0,0,0,.8);
  font-family: Menlo, Monaco, 'Meslo LG S', 'Droid Sans Mono', 'Ubuntu Mono', monospace;
  max-width: 800px;
  padding: 15px;
  padding-top: 75px;
  margin: 0 auto;
  line-height: 2em;
  font-size: 14px;
}

.avatar {
  width: 100px;
  border-radius: 50%;
  margin: auto; display: block;
  margin-bottom: 40px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
}


a {
  color: #5694f1;
  text-decoration: none;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -ms-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}


a:hover {
  text-decoration: none;
}

ul {
  padding-left: 20px;
}

li {
  margin-bottom: 3px;
}

footer {
  border-top: 1px solid #EFEFEF;
  text-align: center;
  margin-top: 40px;
  padding-top: 20px;
  font-size: 14px;
  color: #BBBBBB;
}

pre {
  width: 100%;
  overflow-x: scroll;
  border-radius: 3px;
}

code {
  font-family: Menlo, Monaco, Courier;
  background-color: #EEE;
  font-size: 12px;
  padding: 4px;
}

@media (max-width: 640px) {
  body {
    padding-top: 50px;
  }


  h1 {
    font-size: 22px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 16px;
  }

  h5 {
    font-size: 14px;
  }

  h6 {
    font-size: 12px;
  }
}
