<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="Sendy Halim">
		<meta name="description" content="Sendy Halim&#39;s blog">
    <title>My Hakyll Blog - $title$</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/default.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/navigation.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/highlight-js.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/image.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/post.css" />
  </head>
  <body>
    <div id="content">
      $body$
    </div>

    <footer id="footer">
      <p class="small">
        © Copyright 2017 Sendy Halim
      </p>
    </footer>
  </body>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="/assets/js/highlight.js"></script>
  <script>
    hljs.initHighlightingOnLoad();
  </script>
</html>
