<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Sendy Halim">

  {% if page.description %}
    <meta name="description" content="{{ page.description }}">
  {% else %}
    <meta name="description" content="Sendy Halim&#39;s blog">
  {% endif %}

  <title>
    {% if section.title %}
      {{ section.title }}
    {% elif page.title %}
      {{ page.title }}
    {% else %}
      Sendy's blog on sharing software engineering stuffs and other random life rants
    {% endif %}
  </title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="{{ config.base_url | safe }}/assets/css/default.css" />
  <link rel="stylesheet" type="text/css" href="{{ config.base_url | safe }}/assets/css/navigation.css" />
  <link rel="stylesheet" type="text/css" href="{{ config.base_url | safe }}/assets/css/highlight-js.css" />
  <link rel="stylesheet" type="text/css" href="{{ config.base_url | safe }}/assets/css/image.css" />
  <link rel="stylesheet" type="text/css" href="{{ config.base_url | safe }}/assets/css/post.css" />
</head>
{% if config.mode == 'build' %}
  <!-- Global Site Tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-80328765-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-80328765-1');
  </script>
{% endif %}
