<!DOCTYPE html>
<html lang="en-us">
  {% include 'header.html' %}

  <body>
    <div id="centent">
      <div class="post">
        <div class="post-body">
          <img class="avatar" src="{{ config.base_url | safe }}/assets/images/avatar.png">
          <p>
            Hi, I'm Sendy.
            I'm passionate about software engineering, I randomly contribute to open source on <a href="https://github.com/sendyhalim" target="_blank">Github</a>.
          </p>

          <p>
            I'm opinionated about choosing tools for building software,
            here's the <a href="/posts/software-engineering/tools-that-i-use-for-software-engineering/">list</a>.
          </p>

          <p>... more <a href="/pages/about-me">about me</a>.</p>

          <div>
            <h3>
              My Recent Posts <span class="d-sm-none">(YYYY-MM-DD)
              </span>
            </h3>

            <div class="d-none d-sm-block">
              <strong>
                YYYY-MM-DD
              </strong>
            </div>

            {% include "post-list.html" %}

            <p>... more on the <a href="{{ config.base_url | safe }}/posts">posts</a> section.</p>
          </div>

          <div>
            <h3>
              Grouped Posts
              </span>
            </h3>

            <ul class="post-list mt-3">
              <li>
                <a href="/tags/reading-checklist">
                  📚 Reading Checklist
                </a>
              </li>

              <li>
                <a href="/tags/best-practices">
                  👌 Best Practices
                </a>
              </li>

              <li>
                <a href="/tags/war-stories">
                  🔥 War Stories
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    {% include 'footer.html' %}
  </body>
</html>
